.centeredBox {
	width: 100%;
	height: 100%; /* Firefox */
	display: -moz-box;
	-moz-box-orient: horizontal;
	-moz-box-pack: center;
	-moz-box-align: center; /* Safari
		and Chrome */
	display: -webkit-box;
	-webkit-box-orient: horizontal;
	-webkit-box-pack: center;
	-webkit-box-align: center; /* W3C */
	display: box;
	box-orient: horizontal;
	box-pack: center;
	box-align: center;
}

.ui-widget {
    /*font-size: 12px !important;*/
}

.bgYellow {
	background-color: lightyellow !important;
}

.bgGreen {
	background-color: lightgreen !important;
}

.bold {
	font-weight: bold;
}
.width10 {
	width: 10% !important;
}

.width15 {
	width: 15% !important;
}

.width20 {
	width: 20% !important;
}

.width25 {
	width: 25% !important;
}
.width30 {
	width: 30% !important;
}
.width35 {
	width: 35% !important;
}
.width40 {
	width: 40% !important;
}
.width50 {
	width: 50% !important;
}
.width60 {
	width: 60% !important;
}
